{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <label for="inputEmail" class="sr-only">Email</label>
                <input
                  type="text"
                  name="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email"
                  required
                  autofocus
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="inputPassword" class="sr-only">Password</label>
                <input
                  type="password"
                  name="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="remember_me"
                    class="form-check-input"
                    id="rememberMe"
                    value="1"
                  />
                  <label class="form-check-label" for="rememberMe"
                    >Remember me</label
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
        <a
          href="{% url 'register' %}"
          class="btn btn-lg btn-secondary btn-block mt-2"
          >Sign up</a
        >
      </form>
      {% if messages %}
      <div class="alert alert-danger mt-3" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
