{% extends "base.html" %} {% load static %} {% block content %}

<!-- Use Bootstrap's grid system to structure the layout -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" class="form-signup">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">
          Create a new account
        </h1>
        <table class="table">
          <tbody>
            {% if messages %}
            <tr>
              <td colspan="3">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
              </td>
            </tr>
            {% endif %} {% for field in form %}
            <tr>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
