{% extends 'base.html' %} {% block content %}

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h1 class="text-center">Add Vehicle</h1>
    <form method="post" action="{% url 'add_vehicle_full' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="make">Make</label>
        <input
          type="text"
          class="form-control"
          id="make"
          name="make"
          required
        />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input
          type="text"
          class="form-control"
          id="model"
          name="model"
          required
        />
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input
          type="text"
          class="form-control"
          id="year"
          name="year"
          required
        />
      </div>
      <div class="form-group">
        <label for="vehicle_class">Vehicle Class</label>
        <input
          type="text"
          class="form-control"
          id="vehicle_class"
          name="vehicle_class"
          required
        />
      </div>
      <div class="form-group">
        <label for="fuel_type">Fuel Type</label>
        <input
          type="text"
          class="form-control"
          id="fuel_type"
          name="fuel_type"
          required
        />
      </div>
      <div class="form-group">
        <label for="transmission">Transmission</label>
        <input
          type="text"
          class="form-control"
          id="transmission"
          name="transmission"
          required
        />
      </div>
      <div class="form-group">
        <label for="city_mpg">City MPG</label>
        <input
          type="text"
          class="form-control"
          id="city_mpg"
          name="city_mpg"
          required
        />
      </div>
      <div class="form-group">
        <label for="highway_mpg">Highway MPG</label>
        <input
          type="text"
          class="form-control"
          id="highway_mpg"
          name="highway_mpg"
          required
        />
      </div>
      <div class="form-group">
        <label for="displacement">Displacement</label>
        <input
          type="text"
          class="form-control"
          id="displacement"
          name="displacement"
          required
        />
      </div>
      <div class="form-group">
        <label for="cylinders">Cylinders</label>
        <input
          type="text"
          class="form-control"
          id="cylinders"
          name="cylinders"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Add Vehicle
      </button>
    </form>
  </div>
</div>
{% endblock %}
